{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Мой Блоґ{% endblock %}
{% block content %}
    <h1>Mой Блоґ</h1>
    {% if tag %}
        <h2>Пасты адзначаныя тэґам "{{ tag.name }}"</h2>
    {% endif %}

    {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <p class="tags">
                Тэґі:
                {% for tag in post.tags.all %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                        {{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p class="date">
                Апублікаванна {{ post.publish|date:"d-m-Y у G:i" }} карыстальнікам {{ post.author }}
            </p>
            <!--
            d - Day of the month, 2 digits with leading zero (from '01' to '31');
            m - Month, 2-digit with leading zeros (from '01' to '12');
            Y - Year, 4 digits ('1999');
            у - Belarusian Cyrillic letter u;
            H - Hour, 24-hour format (from '0' to '23');
            i - Minutes (from '00' to '59')
            -->
            <!--truncatewords truncates the value to the specified number of words-->
            <!--truncatewords_html truncates a line after a certain number of words, avoiding unclosed HTML tags-->
            {{ post.body|markdown|truncatewords_html:30 }}
        </div>
        <hr>
    {% endfor %}
    {% include "pagination.html" with page=posts %}
    <!--{% include "pagination.html" with page=page_obj %}-->
{% endblock %}